@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");


:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 500;

  /* COLORS */
  --rtc-color-1: #4b1a72;
  --rtc-color-2: white;
  --rtc-color-3: #e371ff;
  --rtc-color-4: rgb(49, 42, 42);
  --rtc-color-5: #2b014a;
  --rtc-color-6: #E4CFF5;



  /* BORDER RADIUS */
  --rtc-border-radius: 8px;

  /* SPACINGS */
  --rtc-margin-xs: 5px;
  --rtc-margin-s: 10px;
  --rtc-margin-m: 20px;
  --rtc-margin-l: 30px;
  --rtc-margin-xl: 40px;

  --rtc-padding-xs: 5px;
  --rtc-padding-s: 10px;
  --rtc-padding-m: 20px;
  --rtc-padding-l: 30px;
  --rtc-padding-xl: 40px;

  --rtc-gap-xs: 5px;
  --rtc-gap-s: 10px;
  --rtc-gap-m: 20px;
  --rtc-gap-l: 30px;
  --rtc-gap-xl: 40px;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --rtc-font-size-xl: 24px;
  --rtc-font-size-l: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
	border: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
body {
  color: var(--rtc-color-3);
  background-color: var(--rtc-color-1);
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}