
.hero {
  display: flex;
  justify-content: space-between;
}

.hero > h2 {
  font-size: 40px;
  color: var(--rtc-color-3);
}
.developer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50svh;
}
.hello, .explanation {
  display: flex;
  color:var(--rtc-color-2);
}
.profession {
  display: flex;
}

.divPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50svh;
}
.divImgPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  perspective: 1000px; 
}
.photo { 
  width: 200px;
  height: 200px; 
  border-radius: 50%; 
  object-fit: cover;
  transition: transform 0.8s ease-in-out;
  transform-style: preserve-3d;
}


.divImgPhoto:hover .photo {
  transform: rotateY(360deg); 
}

.divImgPhoto:active .photo {
  transform: rotateY(720deg);
}

@media screen and (max-width: 600px) {
  .hero {
    flex-direction:column;
    align-items: center;
  }
  .developer {
    padding-top: var(--rtc-padding-l);
  }
}